{% extends 'base.html.twig' %}

{% block body %}
    <h1>Projects list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Idprojet</th>
                <th>Nomprojet</th>
                <th>Compositiongroupe</th>
                <th>Typeprojet</th>
                <th>Chefprojet</th>
                <th>Ydaysperso</th>
                <th>Referentprojet</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td><a href="{{ path('project_show', { 'id': project.id }) }}">{{ project.id }}</a></td>
                <td>{{ project.idProjet }}</td>
                <td>{{ project.nomProjet }}</td>
                <td>{{ project.compositionGroupe }}</td>
                <td>{{ project.typeProjet }}</td>
                <td>{{ project.chefProjet }}</td>
                <td>{% if project.ydaysPerso %}Yes{% else %}No{% endif %}</td>
                <td>{{ project.referentProjet }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('project_show', { 'id': project.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('project_edit', { 'id': project.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('project_new') }}">Create a new project</a>
        </li>
    </ul>
{% endblock %}
