<!--

  @ Auteur : Jérémy Nunes <jeremy.nunes@ynov.com>
  @ Copyright 2017 Jérémy Nunes
  @ Level : Ingésup B2
  @ Version : 1.0

-->

<!DOCTYPE html>

<html lang="fr">
    <head>
        <title>Demande Admin</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
            <link rel="stylesheet" href="{{ asset('css/global.css') }}">
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.js') }}"></script>
        {% endblock %}
    </head>

    <body id="jBodyAdminDemande">

        {% include('@ProjetYdaysManager/YdaysManager/Header.html.twig') %}

        <div class="jWrapperAdminDemande">

            <!-- Filtrage des demandes faites à l'admin -->
            <div id="jNavRequestsAdminDemande">
                <div>
                    <button class="cat" data-rel="all">Toutes les demandes</button><button class="cat" data-rel="new">Nouveau projet</button>
                </div>
                <div>
                    <button class="cat" data-rel="affect">Affectation projet</button><button class="cat" data-rel="delete">Suppression projet</button>
                </div>
            </div>

            <div class="jContainerAdminDemande">

            	<div class="jBlockDemandeAdmin" class="all new affect delete"></div>

                {% for desire in desires %}
                    {% if desire.type == 'TYPE_PROJECT_REQUEST' %}
                        <section class="all new">
                            <div class="jBlockDemandeAdmin">
                                <div>
                                    <img src="{{ asset('uploads/user/profilePics/defpic.png')}}" alt="User picture" class="jUserPictureDemandeAdmin"/> <!-- Avatar de l'utilisateur -->
                                </div>
                                <div class="jTextSvgDemandeAdmin">
                                    <!-- Contenu texte -->
                                    <p> {{ app.user.username|capitalize }} <span> {{ app.user.lastName|upper }} </span> </p>
                                    <p> Demande de nouveau projet </p>
                                    <!-- SVG -->
                                    <div class="jSVG_ContainerDemandeAdmin">
                                        <div class="jBlockSVG1_DemandeAdmin"><a href="{{ path('projet_ydays_manager_desire_set_available', {'idProject':desire.linkedProject.id, 'idDesire':desire.id}) }}"><img src="{{ asset('svg/check1.svg') }}" alt=""/></a></div>
                                        <div class="jBlockSVG2_DemandeAdmin"><a href="{{ path('projet_ydays_manager_desire_refuse_project', {'idProject' : desire.linkedProject.id, 'idDesire':desire.id}) }}"><img src="{{ asset('svg/check2.svg') }}" alt=""/></a></div>
                                        <div class="jBlockSVG3_DemandeAdmin"><a href="{{ path('projet_ydays_manager_fiche_projet', {'id' : desire.linkedProject.id}) }}"><img src="{{ asset('svg/eye.svg') }}" alt="" class="jSVG_EyeDemandeAdmin"/></a></div>
                                    </div>
                                    <!-- Date -->
                                    <div class="jBlockDateDemandeAdmin">
                                        <p> 06/04/2017 </p>
                                    </div>
                                </div>
                            </div>
                        </section>
                    {% elseif desire.type == 'TYPE_DELETE_PROJECT' %}
                        <section class="all delete">
                            <div class="jBlockDemandeAdmin">
                                <div>
                                    <img src="{{ asset('uploads/user/profilePics/defpic.png')}}" alt="User picture" class="jUserPictureDemandeAdmin"/> <!-- Avatar de l'utilisateur -->
                                </div>
                                <div class="jTextSvgDemandeAdmin">
                                    <!-- Contenu texte -->
                                    <p> {{ app.user.username|capitalize }} <span> {{ app.user.lastName|upper }} </span> </p>
                                    <p> Demande de suppression du projet {{ desire.linkedProject.name }} </p>
                                    <!-- SVG -->
                                    <div class="jSVG_ContainerDemandeAdmin">
                                        <div class="jBlockSVG1_DemandeAdmin"><a href="{{ path('projet_ydays_manager_suppr_project_available', {'idProject':desire.linkedProject.id, 'idDesire':desire.id}) }}"><img src="{{ asset('svg/check1.svg') }}" alt=""/></a></div>
                                        <div class="jBlockSVG2_DemandeAdmin"><a href="{{ path('projet_ydays_manager_refuse_suppr_project', {'idProject':desire.linkedProject.id, 'idDesire':desire.id}) }}"><img src="{{ asset('svg/check2.svg') }}" alt=""/></a></div>
                                        <div class="jBlockSVG3_DemandeAdmin"><a href="{{ path('projet_ydays_manager_fiche_projet', {'id' : desire.linkedProject.id}) }}"><img src="{{ asset('svg/eye.svg') }}" alt="" class="jSVG_EyeDemandeAdmin"/></a></div>
                                    </div>
                                    <!-- Date -->
                                    <div class="jBlockDateDemandeAdmin">
                                        <p> 06/04/2017 </p>
                                    </div>
                                </div>
                            </div>
                        </section>
                    {% elseif desire.type == 'TYPE_AFFECTATION_REQUEST' %}
                        <div class="jBlockDemandeAdmin">
                            <div>
                                <img src="{{ asset('uploads/user/profilePics/defpic.png')}}" alt="User picture" class="jUserPictureDemandeAdmin"/> <!-- Avatar de l'utilisateur -->
                            </div>
                            <div class="jTextSvgDemandeAdmin">
                                <!-- Contenu texte -->
                                <p> {{ app.user.username|capitalize }} <span> {{ app.user.lastName|upper }} </span> </p>
                                <p> Demande d'affectation au projet {{ desire.linkedProject.name }} </p>
                                <!-- SVG -->
                                <div class="jSVG_ContainerDemandeAdmin">
                                    <div class="jBlockSVG1_DemandeAdmin"><a href="{{ path('projet_ydays_manager_desire_set_affect_available', {'idProject':desire.linkedProject.id, 'idDesire':desire.id}) }}"><img src="{{ asset('svg/check1.svg') }}" alt=""/></a></div>
                                    <div class="jBlockSVG2_DemandeAdmin"><a href="{{ path('projet_ydays_manager_refuse_affect_project', {'idProject':desire.linkedProject.id, 'idDesire':desire.id}) }}"><img src="{{ asset('svg/check2.svg') }}" alt=""/></a></div>
                                    <div class="jBlockSVG3_DemandeAdmin"><a href="{{ path('projet_ydays_manager_fiche_projet', {'id' : desire.linkedProject.id}) }}"><img src="{{ asset('svg/eye.svg') }}" alt="" class="jSVG_EyeDemandeAdmin"/></a></div>
                                </div>
                                <!-- Date -->
                                <div class="jBlockDateDemandeAdmin">
                                    <p> 06/04/2017 </p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <script src="{{ asset('js/scriptHeader.js') }}"></script>
        <script src="{{ asset('js/scriptDemandeAdmin.js') }}"></script>

    </body>
</html>