<!--

  @ Auteur : Jérémy Nunes <jeremy.nunes@ynov.com>
  @ Copyright 2017 Jérémy Nunes
  @ Level : Ingésup B2
  @ Version : 1.0

-->

<header id="menu">
    <!-- Logo et Nom -->
    <a href="#" class="jLogoContainerHeader" title="Retour à l'accueil">
        <div class="jLogoHeader">
            <img src="{{ asset('img/logo.png') }}" alt="logo Ydays Manager"/>
            <h1>YDAYS<span>manager</span></h1>
        </div>
    </a>
    <!-- Navbar (choix) -->
    <nav>
        <ul class="jListHeader">
            <li><a href="#">Mes projets</a></li>
            <li><a href="#">Tous les projets</a></li>
            <li><a href="#">Proposer un projet</a></li>
            <li><a href="{{ path('projet_ydays_manager_liste_etudiant') }}">Les étudiants</a></li>
            <li><a href="#">Les entreprises</a></li>
            {% if is_granted('ROLE_HELPER') %}
                <li><a href="#">Projets supervisés</a></li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <li><a href="#">Helpers</a></li>
                <li><a href="#">Demandes</a></li>
            {% endif %}
        </ul>
        <div id="jConnectionInfoBlockHeader">
            <div id="jImgProfileContainerHeader">
                <img src="{{ asset('img/' ~ app.user.imageName) }}"/>
            </div>
            <p>{{ app.user.username|capitalize }} {{ app.user.lastName|upper }}</p>
            <a id="jDisconnectButtonHeader" href="{{ path('fos_user_security_logout') }}" class="cRounded">Déconnexion</a>
        </div>

    </nav>
</header>
<!-- Menu hamburger -->
<div id="main" class="jMainResponsiveHeader">
    <div id="menubar">
        <div id="menu-icon">
            <span class="jFirstStepHeader"></span><span class="jSecondStepHeader"></span><span class="jThirdStepHeader"></span>
        </div>
    </div>
</div> 