<!--
  @ Auteur : Charles HUET <charles.huet@ynov.com>
  @ Copyright 2017 Charles HUET
  @ Level : Ingésup B2
  @ Version : 1.0
  Pour des raisons de divers bugs inconnus j'ai du me résoudre à réutiliser le contenu de la page listEtudiant qui est le même que pour cette page, 
  d'ou les classes pointnant vers cette page 
-->

<!doctype html>
<html>

<head>
    <title>Liste des projets</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('css/global.css') }}">
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.js') }}"></script>

    {% endblock %}
</head>

<body id="cBodyLesProjets">
{% include('@ProjetYdaysManager/YdaysManager/Header.html.twig') %}


{% for project in projects %}
    {% if project.state == "STATE_AVAILABLE" %}
    <a class="cLinkLesProjets" href="{{path('projet_ydays_manager_fiche_projet', {'id': project.id })}}">
        <div class="cOneStudentItemStudentList cRounded cShadowed">
        
            <div class="cImageContainerOneStudentStudentList">
                <img src="{{ asset('uploads/project/img/' ~ project.imageName) }}"/>
            </div>
            <div class="cInfoStudentStudentList">
                <div class="cOneInfoBlockStudentList">
                    <h3>{{ project.name }} </h3>
                    <div class="cListInfoOneInfoBlockStudentList">
                        <p>{{ project.description }}</p>
                    </div>
                </div>
                <div class="cOneInfoBlockStudentList">
                    <div class="cListInfoOneInfoBlockStudentList">
                        <div class="cFlexInfoStudentListProject">
                            <p>Chef de projet - {{ project.projectManager }}</p>
                            <p>Helper - {{ project.helper }}</p>
                            <div class="cFlexSvgProjectState">
                                <p>Projet en cours</p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </a>
    {% endif %}
{% endfor %}


</body>
<script src="{{ asset('js/scriptHeader.js') }}"></script>
</html>
