<!--
  @ Auteur : Charles HUET <charles.huet@ynov.com>
  @ Copyright 2017 Charles HUET
  @ Level : Ingésup B2
  @ Version : 1.0
-->

<!doctype html>
<html>

<head>
    <title>Page Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('css/global.css') }}">
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.js') }}"></script>

   {% endblock %}
</head>

<body id="cBodyLesProjets">
{% include('@ProjetYdaysManager/YdaysManager/Header.html.twig') %}

{% for project in projects %}
    {% if project.state == "STATE_AVAILABLE" %}
        <div id="gCentrLesProjets">
        <a id="cLinkLesProjets" href="{{path('projet_ydays_manager_fiche_projet', {'id': project.id })}}">
        <div id="cProjectListProject" class=" d-flex flex-row">
            <img class="img-fluid h-100" src="{{ asset('img/image1.jpg') }}" alt="">
            <div id="ctitleDescListProject" class="text-left col-xs-7 col-md-6 col-sm-7 col-lg-7 d-flex flex-column">

                <h5 class="cFontListProject">{{project.Name}}</h5>

                <p class="cFontListProject">{{project.description}}</p>
            </div>
            <div class="col-xs-3 col-md-4 col-sm-3 col-lg-3 d-flex flex-column text-right cInfoListProject ">
                <p class="cFontListProject">Chef projet - {{project.projectManager.username|capitalize}} {{project.projectManager.lastName|upper}}</p>
                <p class="cFontListProject">Helper - {{project.helper.username|capitalize}} {{project.helper.lastName|upper}}</p>
                <div class="row" id="gCentrStatListProject">
                {% if project.state == "STATE_AVAILABLE" %}
                    <p class="cFontListProject">Projet en cours</p>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 438.533 438.533" style="enable-background:new 0 0 438.533 438.533;" xml:space="preserve">
                            <g>
                                <path d="M409.133,109.203c-19.608-33.592-46.205-60.189-79.798-79.796C295.736,9.801,259.058,0,219.273,0   c-39.781,0-76.47,9.801-110.063,29.407c-33.595,19.604-60.192,46.201-79.8,79.796C9.801,142.8,0,179.489,0,219.267   c0,39.78,9.804,76.463,29.407,110.062c19.607,33.592,46.204,60.189,79.799,79.798c33.597,19.605,70.283,29.407,110.063,29.407   s76.47-9.802,110.065-29.407c33.593-19.602,60.189-46.206,79.795-79.798c19.603-33.596,29.403-70.284,29.403-110.062   C438.533,179.485,428.732,142.795,409.133,109.203z" fill="#91DC5A"/>
                            </g>
                        </svg>
                 {% elseif project.state == "STATE_STOP" %}
                 <p class="cFontListProject">Projet arrêté</p>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 438.533 438.533" style="enable-background:new 0 0 438.533 438.533;" xml:space="preserve">
                            <g>
                                <path d="M409.133,109.203c-19.608-33.592-46.205-60.189-79.798-79.796C295.736,9.801,259.058,0,219.273,0   c-39.781,0-76.47,9.801-110.063,29.407c-33.595,19.604-60.192,46.201-79.8,79.796C9.801,142.8,0,179.489,0,219.267   c0,39.78,9.804,76.463,29.407,110.062c19.607,33.592,46.204,60.189,79.799,79.798c33.597,19.605,70.283,29.407,110.063,29.407   s76.47-9.802,110.065-29.407c33.593-19.602,60.189-46.206,79.795-79.798c19.603-33.596,29.403-70.284,29.403-110.062   C438.533,179.485,428.732,142.795,409.133,109.203z" fill="#FF0921"/>
                            </g>
                        </svg>
                {% endif %}
                </div>
            </div>
        </div>
        </a>
        </div>
    {% endif %}
{% endfor %}

    
</body>
<script src="{{ asset('js/scriptHeader.js') }}"></script>
</html>
