<!doctype html>

<html>
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
</head>

<body background="{{ asset('Img/wallp_manager.jpg') }}">
<div class="container">
    <div class="col-md-4"></div>
    <div class="col-md-4 backLogin">
        <div id="flexImgLogin" class="row">
            <div class="col-md-2"></div>
            <div class="col-md-6" id="centerImgLogin">
                <img class="img-responsive" id="logo" src="{{ asset('Img/ydays_manager.png') }}" alt="logo" />
            </div>
        </div>
        <p class="fontLogin titleLogin">Connexion</p>
        <div class="formLogin">
        <form class="formSigninLogin">
            <p class="fontLogin">Login</p>
            <input type="email" id="inputEmail" class="form-control" placeholder="Votre adresse Mail" required autofocus>
            <p class="fontLogin">Mot de passe</p>
            <input type="password" id="inputPassword" class="form-control" placeholder="Votre mot de passe">
        </br>
            <button class="btnLogin btnSigninLogin" type="submit" href="{{ asset('../YdaysManager/accueil.html.twig') }}">C'est parti !</button>
        </form><!-- /form -->
        </div>
    </div>
    <div class="col-md-4"></div>
</div><!-- /container -->
</body>
</html>